
<div class="container">
  <div class="row">

    <div class="col-md-3">
      <h1>
        <%= @artist.name %>
      </h1>
    </div>

    <div class="col-md-2">
      <p>
        <%= @artist.genre %>
      </p>
    </div>

  </div>
  <div class="row">
    <div class="col-md-6"
      <p>
        <%= @artist.description %>
      </p>
    </div>

    <div class="col-md-6 img-responsive thumbnail">
        <%= image_tag @artist.image_url.to_s %>
    </div>

  </div>
</div>

<div class="container">
  <h2><%= link_to "Songs:", artist_songs_path(@artist) %></h2>
</div>

<div class="container">
  <%= render @artist.songs %>
</div>
